bitsandbytes
chromadb
datasets
docx2txt
faiss-cpu
langchain
langchain-community
langchain-core
langchain-text-splitters
matplotlib
numpy
peft
pymupdf
pypdf
scikit-learn
sentence-transformers
tiktoken
torch
transformers
trl